button:hover {
    cursor: pointer;
}

h1 {
    text-align: center;
    font-family: 'Indie Flower';
    font-weight: bolder;
    font-size: 50px;
}

.center {
    position: relative;
    height: auto;
    border: 5px black;
    display: block;
    align-content: center;
    top: 0;
    left: 0;
    margin: auto;
}

.container {
    position: relative;
    width: 650px;
    max-width: 100%;
    height: auto;
    border: 5px black;
    display: block;
    align-content: center;
    top: 0;
    left: 0;
    margin: auto;
}

.container-mail {
    position: absolute;
    padding: 0px;
    border: none;
    background: none;
    left: 83%;
    top: 70%;
    transform: translateX(-50%);
}

.top-button {
    position: absolute;
    padding: 0px;
    border: none;
    background: none;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}

.form-box {
    position: absolute;
    padding: 0px;
    border: none;
    background: none;
    left: 50%;
    top: 33%;
    transform: translateX(-50%);
}

.text-button {
    position: absolute;
    padding: 0px;
    border: none;
    background: none;
    left: 50%;
    top: 15%;
    z-index: 90;
    font-family: 'Indie Flower';
    font-size: 25px;
    font-weight: 700;
    transform: translateX(-50%);
}

.text-box {
    font-family: 'Short Stack';
    position: absolute;
    max-width: 100%;
    height: auto;
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    border-style: solid;
    border: 10px black;
    background: rgb(0, 0, 0);
    color: white;
    opacity: 1;
}

.text-box:hover {
    cursor: pointer;
}

.orange {
    color: rgb(255, 145, 0);
}

.corner-button {
    position: absolute;
    padding: 0px;
    border: none;
    background: none;
    left: 85%;
    bottom: 10%;
    z-index: 30;
    transform: translateX(-50%);
}

.counter {
    position: absolute;
    left: 70%;
    top: 5%;
    font-family: 'Indie Flower';
    font-weight: 700;
}

.score {
    position: absolute;
    left: 70%;
    top: 10%;
    font-family: 'Indie Flower';
    font-weight: 700;
}

.icons-button {
    border: none;
    background: none;
}

.button-img {
    max-width: 120px;
}

.grid-container {
    width: 650px;
    max-width: 100%;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    bottom: -50%;
}

label {
    padding-right: 10px;
    font-size: 1rem;
}


.activity-bar {
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 30;
    font-family: 'Indie Flower';
    font-weight: 700;
    width: 25%;
}

.activity-item {
    position: relative;
}

.game-over {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 10%;
    font-weight: 600;
    font-family: 'Indie Flower';
    font-size: xxx-large;
    color: rgb(52, 24, 104);
    transform: translateX(-50%);
    animation: fadein 2s linear;
}

@keyframes fadein {
    from { opacity: 0; transform: translateX(-100%); }
    to   { opacity: 1; }
}

.credits {
    text-align: center;
    font-size: x-large;
    font-weight: 500;
}

.credits-body {
    text-align: center;
}

.sound {
    position: absolute;
    left: 5%;
    top: 87%;
    font-family: 'Indie Flower';
    font-weight: 700;
}

.sound:hover {
    cursor: pointer;
}

.ui.progress .bar {
    min-width: 0 !important;
}
  
.ui.active.progress .bar {
    min-width: 0 !important;
}